mat-card {
    width: 350px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
}

.fields-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

a, button {
    margin: 8px;
}

.error-box {
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
}

@media(max-width: 480px) {
    mat-card {
        width: 80%;
    }
}
